// variables
$titleFontsize: 30px;
$subtitleFontsize: 24px;
$paraFontsize: 20px;
$titleBorder: 1px solid #bdbdbd;
#getting-started {
    .title-container {
        width: 90%;
        h3 {
            margin-bottom: 20px;
            font-size: $titleFontsize;
            border-bottom: $titleBorder;
        }
        p {
            font-size: $paraFontsize;
            line-height: 1.5;
            margin-bottom: 20px;
        }
    }
}